.nav-cont {
  display: flex;
  align-items: center;
  padding: 20px;
}

.delete-button {
  color: white;
  background-color: #d62954;
  border-radius: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  border: none;
  outline: none;
  cursor: pointer;
}

.icon {
  height: 20px;
  width: 20px;
}
.pagination-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
}

.page-no-item {
  border: none;
  outline: none;
  cursor: pointer;
  margin: 3px;
  list-style-type: none;
  text-align: center;
}

.page-no {
  border-radius: 30px;
  background-color: #4483db;
  border: none;
  outline: none;
  text-align: center;
  color: white;
}

.active {
  background-color: white;
  border: solid #4483db;
  color: black;
}

.nav-button {
  border-radius: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px;
  background-color: #4483db;
  color: white;
  text-align: center;
}
